<form action = "/add" method="Post">
   <p>Título:</p>
   <input type="text" name="titulo">
   <p>Conteúdo</p>
   <textarea name="conteudo"></textarea>
   <button type="Enviar">Cadastrar Postagem</button>
</form>